body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    position: absolute;
    width: auto;
    height: auto;
}

.headingWrapper{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

#heading {
    color: white;
    margin-bottom: 85px;
}

.toggleWrapper {
    height: 50px;
    width: 92px;
    background-color: rgb(146, 146, 146);
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
}

.toggleBtn {
    position: absolute;
    height: 45px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(64, 63, 63);
    padding: 0px;
    margin: 2px;
    transition: transform .3s ease;
    box-shadow: 0px 0px 12px white;
}

.darkMode .toggleWrapper {
    background-color: rgb(0, 191, 255);
}

.darkMode .toggleBtn{
    background-color: white;
}

body.darkMode {
    background-color: white;
}

.darkMode .calculatorWrapper {
    box-shadow: 0px 0px 10px 0px black;
}

.darkMode #heading {
    color: black;
}

.darkMode #display {
    background-color: white;
    color: black;
}

.darkMode .toggleBtn {
    transform: translateX(3rem);
}

.darkMode .calculatorWrapper input:hover {
    box-shadow: 0px 0px 6px black;
}

.calculatorWrapper {
    text-align: center;
    border-radius: 22px;
    height: 610px;
    width: 475px;
    box-shadow: 0px 0px 10px 0px white;
}

.calculatorWrapper input {
    width: 105px;
    height: 84px;
    padding: 10px;
    margin: 2px;
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 20px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}

.calculatorWrapper input:hover {
    box-shadow: 0px 0px 6px white;
}

#display {
    width: 440px;
    height: 150px;
    border: none;
    background-color: black;
    font-size: 40px;
    color: white;
    text-align: right;
    border-radius: 25px;
    padding: 0;
}

/* .displayWrapper input ::placeholder{
    color: white;
} */

#zero {
    width: 220px;
    border-radius: 5%;
    text-align: left;
    padding-left: 50px;
    font-size: 25px;
}

#addition,
#sub,
#mul,
#div,
#equals {
    background-color: orange;
}

#clr,
#del,
#mod {
    background-color: #aeaeae;
}